In [1]:
import scanpy as sc

/Users/chrislangseth/miniforge3/envs/cellcharter/lib/python3.11/site-packages/louvain/__init__.py:54: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import get_distribution, DistributionNotFound

In [2]:
ad = sc.read_h5ad('/Volumes/processing2/KaroSpaceDataWrangle/dbit-data/DBiT_Di/LPC10_S1_ATAC.h5ad')

In [10]:
ad.obs

,orig.ident,nCount_ATAC,nFeature_ATAC,clusters,colors_map,x,y
CTAAGGTCTTCACGCA,0,11317.983613,24029,C2,#6cfe00,983.0,881.0
ACAGATTCGGAGAACA,0,11245.981487,24025,C2,#6cfe00,1424.0,1322.0
ACACGACCGGTGCGAA,0,11292.454387,24021,C2,#6cfe00,1392.0,1290.0
ATCATTCCGCTCGGTA,0,11273.859612,24024,C2,#6cfe00,1298.0,1353.0
AGCACCTCGAGTTAGC,0,11246.997709,24028,C12,#60e8fc,1487.0,63.0
...,...,...,...,...,...,...,...
CACCTTACAGTGGTCA,0,11239.112343,24029,C8,#e44a2a,1078.0,2896.0
CCTAATCCAGTGGTCA,0,11212.227034,24026,C10,#d900db,1172.0,2896.0
CAAGGAGCAGTGGTCA,0,11211.322988,24029,C12,#60e8fc,1046.0,2896.0
CCGACAACAGTGGTCA,0,11203.607678,24029,C3,#e97dda,1141.0,2896.0
GAACAGGCAGTGGTCA,0,11208.955808,24028,C12,#60e8fc,1015.0,2896.0

In [ ]:
ad.obs[['x','y']]

                       x       y
CTAAGGTCTTCACGCA   983.0   881.0
ACAGATTCGGAGAACA  1424.0  1322.0
ACACGACCGGTGCGAA  1392.0  1290.0
ATCATTCCGCTCGGTA  1298.0  1353.0
AGCACCTCGAGTTAGC  1487.0    63.0
...                  ...     ...
CACCTTACAGTGGTCA  1078.0  2896.0
CCTAATCCAGTGGTCA  1172.0  2896.0
CAAGGAGCAGTGGTCA  1046.0  2896.0
CCGACAACAGTGGTCA  1141.0  2896.0
GAACAGGCAGTGGTCA  1015.0  2896.0

[8180 rows x 2 columns]